# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignores virtual environments
myenv_refactoringTool/

# Ignores Python cache files
__pycache__/
*.pyc
*.pyo

# Ignores IDE-specific files
.vscode/
.idea/
*.swp